{% extends "_base.html" %}
{% block bodycontent %}
	<img src="../static/images/image1_resize.jpeg"></img>
	<p>My name is SungJin Nam.</p>
<!-- 	<p>I analyze data, write codes, and make music.</p>
	<p>I am interested in researchig data-driven decision making systems and information crowdsourcing </p> -->

	<p> 
		I am currently a doctoral student in School of Information at the University of Michigan. I am working on Ph.D. in Information and my advisor is <a href="http://www-personal.umich.edu/~kevynct/">Prof. Kevyn Collins-Thompson</a> 
	</p>
	<p>
		Previously, I received the BA degree in psychology and information and culture technology from Seoul National University, and the MS degree in information from the University of Michigan. With backgrounds in psychology and data science, I am interested in interpreting human behavior through implicit signals. 
	</p>

{% endblock %}