{% extends "_base.html" %}
{% block bodycontent %}

<div class="contentDetails">	<h3>Tautology (2021)</h3>
    <p> A soundtrack for a video art piece: <a href="https://www.instagram.com/p/CINbnMnJiRk/?igshid=1f0pmws8pr3e7" target="_blank">Tautology, directed by Shin Nara</a></p>
    <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/939013855&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/lucidhole" title="lucidhole" target="_blank" style="color: #cccccc; text-decoration: none;">lucidhole</a> · <a href="https://soundcloud.com/lucidhole/a-soundtrack-for-tautology" title="A soundtrack for Tautology" target="_blank" style="color: #cccccc; text-decoration: none;">A soundtrack for Tautology</a></div>
    <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/945912052&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=false&show_reposts=false&show_teaser=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/lucidhole" title="lucidhole" target="_blank" style="color: #cccccc; text-decoration: none;">lucidhole</a> · <a href="https://soundcloud.com/lucidhole/a-soundtrack-for-tautology-1" title="A soundtrack for Tautology2" target="_blank" style="color: #cccccc; text-decoration: none;">A soundtrack for Tautology2</a></div>
</br>
</div>

<div class="contentDetails">	<h3>Yummy! Yummy! (2011)</h3>
	<p>Worked for <a href="http://xmongames.com/">X-Mon Games</a>. 
	All sound works, including effects and background music.</p>

	<iframe width="500" height="331" src="http://www.youtube.com/embed/46xn2tMx7iE" frameborder="0" allowfullscreen></iframe>
</br>
	<a href="http://itunes.apple.com/us/app/yummy!-yummy!/id445362747?"><img src="http://lucidhole.files.wordpress.com/2012/01/yummy04.jpg?w=560" alt="yummyyummy" /></a>
</br>
</div>

<div class="contentDetails">	<h3>ZZOMS : Intrusion of Zombies (2011)
</h3>
	<p>Worked for <a href="http://xmongames.com/">X-Mon Games</a>. 
	All sound works, including effects and background music.</p>

	<iframe width="500" height="331" src="http://www.youtube.com/embed/-C1aCQAzHEc" frameborder="0" allowfullscreen></iframe>
</br>
	<a href="http://itunes.apple.com/us/app/zzoms/id430285914?mt=8"><img src="http://lucidhole.files.wordpress.com/2012/01/games-main02.gif?w=560" alt="zzoms" /></a>

</br>
</div>

<div class="contentDetails">	<h3> Occupy the Administration Centre (2011)</h3>
	<img src="../static/images/occupyheadoffice/00.jpg" width="300"/>
	<img src="../static/images/occupyheadoffice/01.jpg" width="300"/>
	<img src="../static/images/occupyheadoffice/02.jpg" width="300"/>
	<iframe src="http://player.vimeo.com/video/32706947?title=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> 

	<p>
		'Occupy the Administration Centre' is an interactive media project against Seoul National University's decision on incorporation.
	</p>
	<p>
		Hanbyul Jo, Inho Won, Seheon Oh, and Sungjin Nam
	</p>
</br>
</div>

<div class="contentDetails">	<h3>Inter (2011)</h3>
	<img src="http://lucidhole.files.wordpress.com/2012/01/img_0519.jpg" width="300"/>
	<img src="http://lucidhole.files.wordpress.com/2012/01/img_0524.jpg" width="300"/>
	<img src="http://lucidhole.files.wordpress.com/2012/01/img_0508.jpg" width="300"/>
	<img src="http://lucidhole.files.wordpress.com/2012/01/img_0529.jpg" width="300"/>
	<iframe src="http://player.vimeo.com/video/27229539?title=0" width="500" height="331" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

	<p>
		'Inter' is an interactive installation that connects the audience from each side of boxes. The audience will see themselves and other people who had looked through the boxes or people looking inside the box from another side in realtime. Images are represented as a floating image on the half-mirror inside the boxes and projected images on the outside wall.
	</p>
	<p>
		Used Arduino, Kinect, Processing and MAX/MSP
	</p>
	<p>
		Exhibited in: </br>
		The Garden of Forking paths : Game + Interactive Media Art,</br>
		Museum of Art, Seoul National University, Mar. 2011 - Apr. 2011
	</p>
	<p>
		Joosun Hwang, Seheon Oh, Sungjin Nam, and Hanbyul Jo
	</p>
</br>
</div>


<div class="contentDetails">		<h3>Sphere Blast (2010)</h3>
	<p>Worked for <a href="http://ko-kr.facebook.com/pages/Sphere-Blast/147746685274847">Meteor Factory (Former name of X-Mon Games).</br></a></p>
	<img src="http://lucidhole.files.wordpress.com/2012/01/72011_149121108470738_147746685274847_256322_8255698_n.jpg" width="300"/>
	<img src="http://lucidhole.files.wordpress.com/2012/01/155381_149121121804070_147746685274847_256323_1172025_n.jpg" width="300"/>
	<img src="http://lucidhole.files.wordpress.com/2012/01/164864_149121145137401_147746685274847_256327_3733451_n.jpg" width="300"/>
	<img src="http://lucidhole.files.wordpress.com/2012/01/163138_149121098470739_147746685274847_256321_2695994_n-1.jpg" width="300"/>
</br>
	<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F32367072&amp;color=ff6600&amp;auto_play=false&amp;show_artwork=false"></iframe>
	<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F32366991&amp;color=ff6600&amp;auto_play=false&amp;show_artwork=false"></iframe>
	All sound works, including effects and background music.</p>
</br>
</div>


<div class="contentDetails">	<h3>Big Screen Big Game : Sound Invaders, Jump Jump Jump (2010)</h3>
	<img src="http://lucidhole.files.wordpress.com/2012/01/dsc_0525-from-inho-wons-macbook-pro.jpg" width="300"/>
	<img src="http://lucidhole.files.wordpress.com/2012/01/dsc_0528-from-inho-wons-macbook-pro.jpg" width="300"/>
	<img src="http://lucidhole.files.wordpress.com/2012/01/dsc_0526.jpg" width="300"/>
	<img src="http://lucidhole.files.wordpress.com/2012/01/dsc_0510.jpg" width="300"/>
	<iframe src="http://player.vimeo.com/video/18261040?title=0" width="500" height="331" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

	<p>
		Big Screen Big Game
		Seoul Square Media Canvas Project
		2010.12.18/25/26
	</p>
	<p>
		[Sound Invaders]</br>
		Sungjin Nam, Inho Won, and Hanbyul Jo.
	</p>
	<p>	
		[Jump, Jump, Jump]</br>
		Kiho Huh, Jiyoung Choi, Jihyun Song, Sungjin Nam, and Inho Won
	</p>
</br>
</div>

<div class="contentDetails">	<h3>Break Me (2010)</h3>
	<img src="http://lucidhole.files.wordpress.com/2012/01/img_0252.jpg" width="200"/>
	<img src="http://lucidhole.files.wordpress.com/2012/01/img_0307.jpg" width="200"/>
	<img src="http://lucidhole.files.wordpress.com/2012/01/img_0270.jpg" width="200"/>
	<!-- <img src="http://lucidhole.files.wordpress.com/2012/01/img_0246.jpg" width="200"/> -->
	<img src="http://lucidhole.files.wordpress.com/2012/01/img_0253.jpg" width="200"/>
	<img src="http://lucidhole.files.wordpress.com/2012/01/img_0262.jpg" width="200"/>
	<img src="http://lucidhole.files.wordpress.com/2012/01/img_0287.jpg" width="200"/>
	<iframe src="http://player.vimeo.com/video/27228269?title=0" width="500" height="369" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> 

	<p>
		'Break Me' is an interactive installation that responses to the audience's steps, using the metaphor of the mirror. While the audience is climbing up the stairs, they can see the image of people who went earlier. An image on the stairs, however, breaks down into pieces with every step of the audience. It uses ultrasonic sensors to catch the steps and the Delaunay Triangle algorithm to represent broken stairs. 
	</p>
	<p>
		Used Arduino, Processing and MAX/MSP.
	</p>
	<p>
		Exhibited in: </br>
		The Garden of Forking paths : Game + Interactive Media Art,</br>
		Museum of Art, Seoul National University, Dec. 2010 - Jan. 2011
	</p>

	<p>
		Sungjin Nam, Inho Won, and Hanbyul Jo
	</p>
</br>
</div>

<div class="contentDetails">	<h3>Playing Jamo (2010)</h3>
	<img src="http://lucidhole.files.wordpress.com/2012/01/img_0251.jpg" width="200"/>
	<img src="http://lucidhole.files.wordpress.com/2012/01/img_0274.jpg" width="200"/>
	<img src="http://lucidhole.files.wordpress.com/2012/01/img_0256.jpg" width="200"/>
	<iframe src="http://player.vimeo.com/video/27230209?title=0" width="500" height="306" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

	<p>
	Playing Jamo is a tangible interface that converts the sensible unit of words into the synesthetic elements. It uses the basic principle of Jamo(consonant and vowel of Hangul, the Korean letter) construction. Users can learn how to construct the Hangul, while performing with Jamo visually and aurally.
	</p>
	<p>
		Used MAX/MSP for sound works.
	</p>
	<p>
		Exhibited in: </br>
		-The Garden of Forking Paths : Game + Interactive Media Art,
		Museum of Art, Seoul National University, Dec. 2010 - Jan. 2011.</br>
		-SIGGRAPH ASIA 2010, Dec. 2010.
	</p>
	<p>
		Mizi Park, Seheon Oh, and Sungjin Nam
	</p>
</br>
</div>

<div class="contentDetails">	<h3>The Knight of Dining Table (2010)</h3>
	<img src="http://lucidhole.files.wordpress.com/2012/01/vicegame_nolgong.jpg" width="200"/>
	<img src="http://lucidhole.files.wordpress.com/2012/01/vicegame_people_01.jpg" width="200"/>
	<img src="http://lucidhole.files.wordpress.com/2012/01/vicegame_people_02.jpg" width="200"/>
	<img src="http://lucidhole.files.wordpress.com/2012/01/vicegame_interview_ready.jpg" width="200"/>
	<img src="http://lucidhole.files.wordpress.com/2012/01/vicegame_interview.jpg" width="200"/>
	<img src="http://lucidhole.files.wordpress.com/2012/01/vicegame_sound.jpg" width="200"/>
	<p>
		'The Knight of Dining Table' is a big-sized board game, made by <a href="http://nolgong.com">Nolgong</a>.
	</p>
	<p>
		Exhibited in the Creators Project Seoul, hosted by Intel and Vice.
	</p>
	<p>
		All sound works including effects and background music.
	</p>
</br>
</div>

{% endblock %}