{% extends "_base.html" %}
{% block bodycontent %}
<h2>Projects</h2>
<div class="contentDetails">
	<ul>
		<li>
			From 2017, I am also working on a project called <a href="http://midas.umich.edu/research/learn/leap/"> Analytics for LEarners As People (LEAP) </a>. The goal of this project is to build a new generation of learning analytics tools which integrate our understanding of “student as a person” and “student as a learner” across various kinds of data, including traditional learning analytics data and other behavioral signals. Specifically, I am working on representing student's knowledge state from discussion forum dialogue texts, and predicting the amount of information exist in a sentence for describing a particular concept.
		</li>
		<li>
			From 2014, I have worked on a intelligent tutoring system: <a href="http://dscovar.org"> Dynamic Support of Contextual Vocabulary Acquisition for Reading (DSCoVAR) </a>. We aim to help kids in middle school improve their literacy skills and develop some compelling new technology in the process. In this project, I am working on modeling student's engagement and developing a scale for partial knowledge state in the vocabulary acquisition task. 
		</li>
	<ul>
</div>

<h2>Publications</h2>

<div class="contentDetails">	
	<h3>2017</h3>
	<ul>
		<li>
			Nam, S., Frishkoff, G. A., & Collins-Thompson, K. (2017). Predicting Short- and Long-Term Vocabulary Learning via Semantic Features of Partial Word Knowledge. In <i>Educational Data Mining</i>. <a href="https://www.dropbox.com/s/94s7qn3vzqzy44y/edm2017_osgood.pdf?dl=0" target="_blank"> (PDF) </a>
		</li>
		<li>
			Nam, S., Frishkoff, G. A., & Collins-Thompson, K. (2017). Predicting Students’ Disengaged Behaviors in an Online Meaning-Generation Task. In <i>IEEE Transactions on Learning Technologies</i>. <a href="https://www.dropbox.com/s/dvg0kpqopp12fl3/IEEE_LT-disengaged.pdf?dl=0" target="_blank"> (PDF) </a>
		</li>
	</ul>
</div>
<div class="contentDetails">	
	<h3>2016</h3>
	<ul>
		<li>
			Waddington, R. J., & Nam, S., Lonn, S., & Teasley, S. D. (2016). Improving early Warning Systems with Categorized Course Resource Usage. In <i>Journal of Learning Analytics</i> (pp. 263-290).  <a href="https://www.dropbox.com/s/6dxozttx314bh9n/jla2016_se.pdf?dl=0" target="_blank"> (PDF) </a>
		</li>
		<li>
			Nam, S. (2016). Predicting Off-task Behaviors in an Adaptive Vocabulary Learning System (Doctoral consortium proceeding). In <i>Educational Data Mining</i>. <a href="https://www.dropbox.com/s/dbd2zhsirwb7yus/edm2016_dc.pdf?dl=0" target="_blank"> (PDF) </a>
		</li>
		<li>
			Nam, S., Collins-Thompson, K., & Frishkoff, G. A. (2016). Modeling Off-task Behaviors in a Meaning-Generation Task. In <i>Measurement in Digital Environments White Paper Series</i>.
		</li>
		<li>
			Frishkoff, G. A., Collins-Thompson, K., Nam, S., Hodges, L., & Crossley, S. (2016). Dynamic Support of Contextual Vocabulary Acquisition for Reading (DSCoVAR): An intelligent tutor for contextual word learning. In Crossley, S. A., & McNamara, D. S. (Eds.), <i>Adaptive Educational Technologies for Literacy Instruction</i>. New York, NY: Routledge.
		</li>

		<li>
			Nam, S., Collins-Thompson, K., Frishkoff, G. A., Bhide, A., Muth, K. B., & Perfetti, C. (2016). Modeling Real-time Performance on a Meaning-Generation Task (Short paper). In <i>AERA’16 Annual Meeting</i>.
		</li>
	</ul>
</div>
<div class="contentDetails">	
<h3>2015</h3>
	<ul>
		<li>
			Nam, S., Collins-Thompson, K., Frishkoff, G. A, Bhide, A., Muth, K. B., & Perfetti, C. (2015). Measuring Real- time Student Engagement in Contextual Word Learning (Conference abstract). Presented in <i>Twenty-Second Annual Meeting of Society for the Scientific Study of Reading</i>.
		</li>
	</ul>
</div>
<div class="contentDetails">	
<h3>2014</h3>
	<ul>
		<li>
			Oh, J., Nam, S., & Lee, J. (2014). Generating highlights automatically from text-reading behaviors on mobile devices (Works-in-progress). In <i>CHI'14 Extended Abstracts on Human Factors in Computing Systems</i> (pp. 2317-2322). ACM. <a href="https://www.dropbox.com/s/skmgeif7wqogyl8/p2317-oh.pdf?dl=0" target="_blank"> (PDF) </a>
		</li>
		<li>
			Nam, S., Lonn, S., Brown, T., Davis, C. S., & Koch, D. (2014). Customized course advising: investigating engineering student success with incoming profiles and patterns of concurrent course enrollment (Full paper). In <i>Proceedings of the Fourth International Conference on Learning Analytics and Knowledge</i> (pp. 16-25). ACM. <a href="https://www.dropbox.com/s/s2kil7k60aljd0l/lak2014_cca.pdf?dl=0" target="_blank"> (PDF) </a>
		</li>
		<li>
			Waddington, R. J., & Nam, S. (2014). Practice exams make perfect: incorporating course resource use into an early warning system (Short paper). In <i>Proceedings of the Fourth International Conference on Learning Analytics And Knowledge</i> (pp. 188-192). ACM.	<a href="https://www.dropbox.com/s/3lpkdut6egrkbfx/lak2014_se.pdf?dl=0" target="_blank"> (PDF) </a>
		</li>
	</ul>
</div>
{% endblock %}