{% extends "_base.html" %}
{% block bodycontent %}
<h2>Thesis</h2>
<div class="contentDetails">
	<p>
		Nam, S. (2020). <i>Understanding and Supporting Vocabulary Learners via Machine Learning on Behavioral and Linguistic Data</i> (Doctoral dissertation). <a href="https://deepblue.lib.umich.edu/bitstream/handle/2027.42/162999/sjnam_1.pdf?sequence=1" target="_blank"> (PDF) </a>
	</p>
	<p>
		The dissertation consolidates my research works with <a href="http://dscovar.org"> Dynamic Support of Contextual Vocabulary Acquisition for Reading (DSCoVAR) </a>. 
		DSCoVAR is an intelligent tutoring system designed to help middle school students to improve their literacy skills and develop some compelling new technology in the process. 
		Each chapter illustrates how I used machine learning and natural language processing techniques on the following topics:
		<ul>
			<li>Classifying off-task behaviors in vocabulary learning with behavioral and linguistic signals.</li>
			<li>Developing interpretable semantic scales to score open-ended responses by combining the semantic differential and word embedding models.</li>
			<li>Using BERT-based model to find contextually informative sentences for vocabulary learning curriculum.</li>
			<li>Applying instructive vocabulary learning curricula designed for human students to NLP models for more efficient curriculum learning. </li>
		</ul>
	</p>
</div>

<h2>Publications</h2>

<div class="contentDetails">	
	<h3>2020</h3>
	<ul>
		<li>
			Nam, S., Bylinskii, Z., Tensmeyer, C., Wigington, C., Jain, R., & Sun, T. (2020). Using Behavioral Interactions from a Mobile Device to Classify the Reader's Prior Familiarity and Goal Conditions. <i>arXiv preprint arXiv:2004.12016</i>. <a href="https://arxiv.org/pdf/2004.12016.pdf" target="_blank"> (PDF) </a> <a href="https://jov.arvojournals.org/article.aspx?articleid=2771877" target="_blank"> (Journal of Vision abstract) </a>
		</li>
	</ul>
	<h3>2019</h3>
	<ul>
		<li>
			Nam, S., & Samson, P. (2019).  Integrating Students' Behavioral Signals and Academic Profiles in Early Warning System. In <i>The 20th International Conference on Artificial Intelligence in Education</i>. <a href="https://www.dropbox.com/s/d8e7ltdgbt2zyd0/Nam_Samson-AIED_EWS.pdf?dl=0" target="_blank"> (PDF) </a> <a href="https://www.dropbox.com/s/cwl1fzdp3lpahx7/Nam_Samson-AIED_EWS_predtable.pdf?dl=0" target="_blank"> (Supplements) </a>
		</li>
	</ul>
	<h3>2017</h3>
	<ul>
		<li>
			Nam, S., Frishkoff, G. A., & Collins-Thompson, K. (2017). Predicting Short- and Long-Term Vocabulary Learning via Semantic Features of Partial Word Knowledge. In <i>Educational Data Mining</i>. <a href="https://www.dropbox.com/s/pbi505qkcgngbo7/edm2017_osgood.pdf?dl=0" target="_blank"> (PDF) </a>
		</li>
		<li>
			Nam, S., Frishkoff, G. A., & Collins-Thompson, K. (2017). Predicting Students’ Disengaged Behaviors in an Online Meaning-Generation Task. In <i>IEEE Transactions on Learning Technologies</i>. <a href="https://www.dropbox.com/s/sv32vojap5m81x3/IEEE_LT-disengaged.pdf?dl=0" target="_blank"> (PDF) </a>
		</li>
	</ul>
</div>
<div class="contentDetails">	
	<h3>2016</h3>
	<ul>
		<li>
			Waddington, R. J., & Nam, S., Lonn, S., & Teasley, S. D. (2016). Improving early Warning Systems with Categorized Course Resource Usage. In <i>Journal of Learning Analytics</i> (pp. 263-290).  <a href="https://www.dropbox.com/s/gtz6qfojpo6gwk5/jla2016_se.pdf?dl=0" target="_blank"> (PDF) </a>
		</li>
		<li>
			Nam, S. (2016). Predicting Off-task Behaviors in an Adaptive Vocabulary Learning System (Doctoral consortium proceeding). In <i>Educational Data Mining</i>. <a href="https://www.dropbox.com/s/qhud7mnc6tu3a70/edm2016_dc.pdf?dl=0" target="_blank"> (PDF) </a>
		</li>
		<li>
			Nam, S., Collins-Thompson, K., & Frishkoff, G. A. (2016). Modeling Off-task Behaviors in a Meaning-Generation Task. In <i>Measurement in Digital Environments White Paper Series</i>.
		</li>
		<li>
			Frishkoff, G. A., Collins-Thompson, K., Nam, S., Hodges, L., & Crossley, S. (2016). Dynamic Support of Contextual Vocabulary Acquisition for Reading (DSCoVAR): An intelligent tutor for contextual word learning. In Crossley, S. A., & McNamara, D. S. (Eds.), <i>Adaptive Educational Technologies for Literacy Instruction</i>. New York, NY: Routledge.
		</li>

		<li>
			Nam, S., Collins-Thompson, K., Frishkoff, G. A., Bhide, A., Muth, K. B., & Perfetti, C. (2016). Modeling Real-time Performance on a Meaning-Generation Task (Short paper). In <i>AERA’16 Annual Meeting</i> <a href="https://www.dropbox.com/s/510tlj1rd5zj2og/aera2016_offtask.pdf?dl=0" target="_blank"> (PDF) </a>.
		</li>
	</ul>
</div>
<div class="contentDetails">	
<h3>2015</h3>
	<ul>
		<li>
			Nam, S., Collins-Thompson, K., Frishkoff, G. A, Bhide, A., Muth, K. B., & Perfetti, C. (2015). Measuring Real- time Student Engagement in Contextual Word Learning (Conference abstract). Presented in <i>Twenty-Second Annual Meeting of Society for the Scientific Study of Reading</i>.
		</li>
	</ul>
</div>
<div class="contentDetails">	
<h3>2014</h3>
	<ul>
		<li>
			Oh, J., Nam, S., & Lee, J. (2014). Generating highlights automatically from text-reading behaviors on mobile devices (Works-in-progress). In <i>CHI'14 Extended Abstracts on Human Factors in Computing Systems</i> (pp. 2317-2322). ACM. <a href="https://www.dropbox.com/s/jjkd88nrwgzizyy/p2317-oh.pdf?dl=0" target="_blank"> (PDF) </a>
		</li>
		<li>
			Nam, S., Lonn, S., Brown, T., Davis, C. S., & Koch, D. (2014). Customized course advising: investigating engineering student success with incoming profiles and patterns of concurrent course enrollment (Full paper). In <i>Proceedings of the Fourth International Conference on Learning Analytics and Knowledge</i> (pp. 16-25). ACM. <a href="https://www.dropbox.com/s/b38xphpyfs7ku6a/lak2014_cca.pdf?dl=0" target="_blank"> (PDF) </a>
		</li>
		<li>
			Waddington, R. J., & Nam, S. (2014). Practice exams make perfect: incorporating course resource use into an early warning system (Short paper). In <i>Proceedings of the Fourth International Conference on Learning Analytics And Knowledge</i> (pp. 188-192). ACM.	<a href="https://www.dropbox.com/s/rmpnjf7ce0xwoan/lak2014_se.pdf?dl=0" target="_blank"> (PDF) </a>
		</li>
	</ul>
</div>
{% endblock %}