{% extends "_base.html" %}
{% block bodycontent %}
<h2> works - etc </h2></br>

<div class="contentDetails">	<h3>My Tweet History (2011)</h3>
	<img src="http://lucidhole.files.wordpress.com/2012/01/screen-shot-2012-01-13-at-1-55-02-am.png" width="650"/>
	<iframe width="560" height="315" src="http://www.youtube.com/embed/sQ4PQBBe9RM" frameborder="0" allowfullscreen></iframe>

	<p>
		(run Java applet of 
		<a href="http://dl.dropbox.com/u/10542259/myTweetHistory_web/myTweetHistory.html" target="blank">My Tweet History</a>.)</br>
		Visualization and sonification of my Twitter usage history, </br>
		from 2009.12.15 to 2012.01.11.
	</p>
	
	<p>
		Vertical bars represent the each tweets that I or my neighbor has made on Twitter. Each color of bars indicate the different categories of tweets:
	</p>
	<p>
		White - tweets made by me.</br>
		Blue - received mentions.</br>
		Green - my tweets that retweeted by others.</br>
		Yellow - tweets that added to favorites.</br>
	</p>

	<p>
		Also, each category has distinctive sounds, so users can draw the aural map of shown tweets. Series of bars that resemble genetic analysis results symbolize the representativeness and 	documenting function of tweets in my daily life or personal history. Others may say that the pattern resembles that of sound wave, which corresponds with the pattern of sounds that each tweet generates and indicates that this work is not only a visualization work but also a sonification work.
	</p>
	
	<p>
		Processing + sound
	</p>
</br>
</div>

<div class="contentDetails">	<h3>test4 (2011)</h3>
	<img src="http://lucidhole.files.wordpress.com/2012/01/screen-shot-2012-01-02-at-3-10-45-pm.png" width="300"/>
	<img src="http://lucidhole.files.wordpress.com/2012/01/screen-shot-2012-01-02-at-3-10-55-pm.png" width="300"/>
	<img src="http://lucidhole.files.wordpress.com/2012/01/screen-shot-2012-01-02-at-3-11-10-pm.png" width="300"/>
	<img src="http://lucidhole.files.wordpress.com/2012/01/screen-shot-2012-01-02-at-3-11-21-pm.png" width="300"/>
	<p>
	'test4' is a prototype for an interactive installation. This project aims to show people how the random images, texts, and sounds can be associated and forms a new context. Showing this arbitrarily interpreted and constructed processes, the author claims that the effort to deliver the precise information can be a meaningless labor.
	</p>

	<p>
	Used MAX/MSP/JITTER.
	</p>

	<p>
	Class project of Interactive Video Media programming, SNU Department of Fine Art.
	</p>
</br>
</div>

<div class="contentDetails">	<h3>How About This Place? (2010)</h3>
	<img src="http://lucidhole.files.wordpress.com/2012/01/screen-shot-2012-01-02-at-2-51-51-pm.png" width="150"/>
	<img src="http://lucidhole.files.wordpress.com/2012/01/screen-shot-2012-01-02-at-2-52-13-pm.png" width="150"/>
	<img src="http://lucidhole.files.wordpress.com/2012/01/screen-shot-2012-01-02-at-2-53-57-pm.png" width="150"/>
	<img src="http://lucidhole.files.wordpress.com/2012/01/screen-shot-2012-01-02-at-2-54-12-pm.png" width="150"/>
	<img src="http://lucidhole.files.wordpress.com/2012/01/screen-shot-2012-01-02-at-2-52-43-pm.png" width="300"/>
	<img src="http://lucidhole.files.wordpress.com/2012/01/screen-shot-2012-01-02-at-2-53-10-pm.png" width="300"/>

	<p>
		'How About This Place?' is a prototype for mobile date course recommendation service. Based on the area, distance from current location, weather, size of group, and social reputation, this service automatically recommends the date course or the next place to go. 

	</p>
	<p>
		Class project of Internet and Knowledge Technologies, SNU ITCT.
	</p>
</br>
</div>

<div class="contentDetails">	<h3>Songpath (2010)</h3>
	<img src="http://lucidhole.files.wordpress.com/2012/01/songpath.jpg" width="300"/>
	<img src="http://lucidhole.files.wordpress.com/2012/01/songpath2.jpg" width="300"/>
	<p>
		Songpath is a prototype for location based music recommendation service. </br>
		It recommends music based on the playlist of other users who are:</br>
		&nbsp;&nbsp;-located in the nearby places</br>
		&nbsp;&nbsp;-share the similar route, daily or temporal
		</br>
		Its ultimate goal is developing a service which combines music service and location based SNS. 
	</p>
	<p>
		Class project of Introduction to Internet Technology, SNU ITCT.
	</p>
</br>
</div>

<div class="contentDetails">	<h3>Visualization 2010 (2010)</h3>
	<img src="http://lucidhole.files.wordpress.com/2012/01/screen-shot-2012-01-02-at-2-09-20-pm.png" width="300"/>
	<img src="http://lucidhole.files.wordpress.com/2012/01/screen-shot-2012-01-02-at-2-08-53-pm.png" width="300"/>
	<p>
		'Visualization 2010' is an interactive visualization of the class students' work flow of the 1st semester, 2010. In the class of Visualization, every student took same steps of seeing-looking process, visualization, and typography work. However, in the aspects of time phase and orderliness of work flow, all students showed different performance. It was due to some reasons like individual differences in technical fluency, change of topic, required time for the further development, and open deadlines for each steps. Each color block represents the category of process that each student took for a certain time. Horizontal axis represents the timeline and vertical axis is the individual students.
	</p>
	<p>
		Class project of Visualization, SNU ITCT.
	</p>
</br>
</div>

<div class="contentDetails">	<h3>21 (2010)</h3>
	<img src="http://lucidhole.files.wordpress.com/2012/01/typooutput1.png?w=700&h=" width="300" alt="21Visualization"/>
	<img src="http://lucidhole.files.wordpress.com/2012/01/typooutput2.png?w=700&h=" width="300" alt="21Visualization"/>
	<p>
		’21′ is a visualization of movie 21, which presents the overall storyline and the relationship between the overall brightness of the scenes and the emotional mood of main character.
	</p>
	
	<p>
		Scenes were taken every 20 seconds and placed in the 2D coordinate, within the axises of brightness and timeline. Mean brightness of each scene were extracted by using MAX, and used Processing to place scenes.
	</p>
	
	<p>
		Words provide brief explanations of the single or multiple scenes.
	 	Size of the font represents the weight of certain sub-story or incident from the whole movie.
	 </p>

	<p>
		Rough correlation was found between the average brightness of scenes and the emotional status of main character, which can be inferred as one of the general visual grammar principles of Hollywood movies.
	</p>

	<p>
		Class project of Visualization, SNU ITCT.
	</p>
</br>
</div>

{% endblock %}