{% extends "_base.html" %}
{% block bodycontent %}
<h2> works - sound </h2></br>

<div class="contentDetails">	<h3>Yummy! Yummy! (2011)</h3>
	<p>Worked for <a href="http://xmongames.com/">X-Mon Games</a>. 
	All sound works, including effects and background music.</p>

	<iframe width="500" height="331" src="http://www.youtube.com/embed/46xn2tMx7iE" frameborder="0" allowfullscreen></iframe>
</br>
	<a href="http://itunes.apple.com/us/app/yummy!-yummy!/id445362747?"><img src="http://lucidhole.files.wordpress.com/2012/01/yummy04.jpg?w=560" alt="yummyyummy" /></a>
</br>
</div>

<div class="contentDetails">	<h3>ZZOMS : Intrusion of Zombies (2011)
</h3>
	<p>Worked for <a href="http://xmongames.com/">X-Mon Games</a>. 
	All sound works, including effects and background music.</p>

	<iframe width="500" height="331" src="http://www.youtube.com/embed/-C1aCQAzHEc" frameborder="0" allowfullscreen></iframe>
</br>
	<a href="http://itunes.apple.com/us/app/zzoms/id430285914?mt=8"><img src="http://lucidhole.files.wordpress.com/2012/01/games-main02.gif?w=560" alt="zzoms" /></a>

</br>
</div>

<div class="contentDetails">		<h3>Sphere Blast (2010)</h3>
	<p>Worked for <a href="http://ko-kr.facebook.com/pages/Sphere-Blast/147746685274847">Meteor Factory (Former name of X-Mon Games).</br></a></p>
	<img src="http://lucidhole.files.wordpress.com/2012/01/72011_149121108470738_147746685274847_256322_8255698_n.jpg" width="300"/>
	<img src="http://lucidhole.files.wordpress.com/2012/01/155381_149121121804070_147746685274847_256323_1172025_n.jpg" width="300"/>
	<img src="http://lucidhole.files.wordpress.com/2012/01/164864_149121145137401_147746685274847_256327_3733451_n.jpg" width="300"/>
	<img src="http://lucidhole.files.wordpress.com/2012/01/163138_149121098470739_147746685274847_256321_2695994_n-1.jpg" width="300"/>
</br>
	<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F32367072&amp;color=ff6600&amp;auto_play=false&amp;show_artwork=false"></iframe>
	<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F32366991&amp;color=ff6600&amp;auto_play=false&amp;show_artwork=false"></iframe>
	All sound works, including effects and background music.</p>
</br>
</div>

{% endblock %}