{% extends "_base.html" %}
{% block bodycontent %}
<h2> works - mediaArt </h2></br>

<div class="contentDetails">	<h3>Inter (2011)</h3>
	<img src="http://lucidhole.files.wordpress.com/2012/01/img_0519.jpg" width="300"/>
	<img src="http://lucidhole.files.wordpress.com/2012/01/img_0524.jpg" width="300"/>
	<img src="http://lucidhole.files.wordpress.com/2012/01/img_0508.jpg" width="300"/>
	<img src="http://lucidhole.files.wordpress.com/2012/01/img_0529.jpg" width="300"/>
	<iframe src="http://player.vimeo.com/video/27229539?badge=0" width="500" height="331" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

	<p>
		'Inter' is an interactive installation which connects audience from each side of boxes. Audience will see themselves and other people who had looked through the boxes or people looking inside the box from other side in realtime. Images are represented as a floating image on the half-mirror inside the boxes and projected images on the outside wall.
	</p>
	<p>
		Used Arduino, Kinect, Processing and MAX/MSP
	</p>
	<p>
		exhibited in: </br>
		The Garden of Forking paths : Game + Interactive Media Art,</br>
		Museum of Art, Seoul National University, Mar. 2011 - Apr. 2011
	</p>
	<p>
		Joosun Hwang, Seheon Oh, SungJin Nam, and Hanbyul Jo
	</p>
</br>
</div>

<div class="contentDetails">	<h3>Big Screen Big Game : Sound Invaders, Jump Jump Jump (2010)</h3>
	<img src="http://lucidhole.files.wordpress.com/2012/01/dsc_0525-from-inho-wons-macbook-pro.jpg" width="300"/>
	<img src="http://lucidhole.files.wordpress.com/2012/01/dsc_0528-from-inho-wons-macbook-pro.jpg" width="300"/>
	<img src="http://lucidhole.files.wordpress.com/2012/01/dsc_0526.jpg" width="300"/>
	<img src="http://lucidhole.files.wordpress.com/2012/01/dsc_0510.jpg" width="300"/>
	<iframe src="http://player.vimeo.com/video/18261040?badge=0" width="500" height="331" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

	<p>
		Big Screen Big Game
		Seoul Square Media Canvas Project
		2010.12.18/25/26
	</p>
	<p>
		[Sound Invaders]</br>
		Sungjin Nam, Inho Won, and Hanbyul Jo.
	</p>
	<p>	
		[Jump, Jump, Jump]</br>
		Kiho Huh, Jiyoung Choi, Jihyun Song, Sungjin Nam, and Inho Won
	</p>
</br>
</div>

<div class="contentDetails">	<h3>Break Me (2010)</h3>
	<img src="http://lucidhole.files.wordpress.com/2012/01/img_0252.jpg" width="200"/>
	<img src="http://lucidhole.files.wordpress.com/2012/01/img_0307.jpg" width="200"/>
	<img src="http://lucidhole.files.wordpress.com/2012/01/img_0270.jpg" width="200"/>
	<!-- <img src="http://lucidhole.files.wordpress.com/2012/01/img_0246.jpg" width="200"/> -->
	<img src="http://lucidhole.files.wordpress.com/2012/01/img_0253.jpg" width="200"/>
	<img src="http://lucidhole.files.wordpress.com/2012/01/img_0262.jpg" width="200"/>
	<img src="http://lucidhole.files.wordpress.com/2012/01/img_0287.jpg" width="200"/>
	<iframe src="http://player.vimeo.com/video/27228269" width="500" height="369" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> 

	<p>
		'Break Me' is an interactive installation which responses to audience's steps, using metaphor of mirror. While the audiences are climbing up to the stairs, they can see the image of people who went earlier. An image on the stairs, however, breaks down into pieces with every step of audiences. The Secret hides in the box, which located on the end of the stairs. It uses ultrasonic sensor to catch the steps and Delaunay Triangle algorithm to represent broken stairs. 
	</p>
	<p>
		Used Arduino, Processing and MAX/MSP.
	</p>
	<p>
		exhibited in: </br>
		The Garden of Forking paths : Game + Interactive Media Art,</br>
		Museum of Art, Seoul National University, Dec. 2010 - Jan. 2011
	</p>

	<p>
		SungJin Nam, Inho Won, and Hanbyul Jo
	</p>
</br>
</div>

<div class="contentDetails">	<h3>Playing Jamo (2010)</h3>
	<img src="http://lucidhole.files.wordpress.com/2012/01/img_0251.jpg" width="200"/>
	<img src="http://lucidhole.files.wordpress.com/2012/01/img_0274.jpg" width="200"/>
	<img src="http://lucidhole.files.wordpress.com/2012/01/img_0256.jpg" width="200"/>
	<iframe src="http://player.vimeo.com/video/27230209?badge=0" width="500" height="306" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

	<p>
	Playing Jamo is a tangible interface that converts the sensible unit of words into the synesthetic elements. It uses the basic principle of Jamo(consonant and vowel of Hangul, the Korean letter) construction. Users can learn how to construct the Hangul, while performing with Jamo visually and aurally.
	</p>
	<p>
		Used MAX/MSP for sound works.
	</p>
	<p>
		exhibited in: </br>
		-The Garden of Forking Paths : Game + Interactive Media Art,
		Museum of Art, Seoul National University, Dec. 2010 - Jan. 2011.</br>
		-SIGGRAPH ASIA 2010, Dec. 2010.
	</p>
	<p>
		Mizi Park, Seheon Oh, and SungJin Nam
	</p>
</br>
</div>

<div class="contentDetails">	<h3>The Knight of Dining Table (2010)</h3>
	<img src="http://lucidhole.files.wordpress.com/2012/01/vicegame_nolgong.jpg" width="200"/>
	<img src="http://lucidhole.files.wordpress.com/2012/01/vicegame_people_01.jpg" width="200"/>
	<img src="http://lucidhole.files.wordpress.com/2012/01/vicegame_people_02.jpg" width="200"/>
	<img src="http://lucidhole.files.wordpress.com/2012/01/vicegame_interview_ready.jpg" width="200"/>
	<img src="http://lucidhole.files.wordpress.com/2012/01/vicegame_interview.jpg" width="200"/>
	<img src="http://lucidhole.files.wordpress.com/2012/01/vicegame_sound.jpg" width="200"/>
	<p>
		'The Knight of Dining Table' is a big-sized board game, made by <a href="http://nolgong.com">Nolgong</a>.
	</p>
	<p>
		exhibited in the Creators Project Seoul, hosted by Intel and Vice.
	</p>
	<p>
		all sound works including effects and background music.
	</p>
</br>
</div>

{% endblock %}