@charset "UTF-8"
@import url(http://fonts.googleapis.com/css?family=Oxygen+Mono);

body{
	background-color: silver; 
	font-family: 'Oxygen Mono', Tahoma, helvetica;
}

a{
	text-decoration: none;
	color: black;
}

div{
	padding: 10px;
	/*border: 1px solid white;*/
}

#wrapper{
	float:left;
	width:80%;
}

#navigation{
	float:left;
	padding: 0px;
}

.navigationItem{
	float:left;
	text-align: left;
	margin-right: 10px;
}

.navigationItem ul {
	font-size: 80%;
	padding-left: 0px;
}

/*
.navigationItem > ul{
	*display: inline-block;
	position: absolute;
	left: -999em;
	z-index: -999;
}

.navigationItem:after .navigationItem ul:after{
	content: '';
	display: block;
	clear:both;
}

.navigation ul li {
	text-align: left;
}

.navigationItem:hover ul{
	left:auto;
	background-color: white;
}
*/

.contentDetails{
	font-size: 90%;
}

.clear{
	clear: both;
	padding: 0px;
}

.break{
	border: 1px solid white;
	padding: 0px;
}

#footer{
	font-size: 70%;
}